<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="index.css" type="text/css">
</head>
  <body>
  <form id="form1", class= "wrapper">
    <div class="top-content">
      <B>参加者</B>    ※チェックを入れてください。
    </div>
    <div class="body-content">
      <input type="checkbox" name="person" value="秋本" class="member">秋本
      <input type="checkbox" name="person" value="荒井" class="member">荒井
      <input type="checkbox" name="person" value="今村" class="member">今村
      <input type="checkbox" name="person" value="上野" class="member">上野
      <input type="checkbox" name="person" value="大北" class="member">大北
      <input type="checkbox" name="person" value="古賀" class="member">古賀
      <input type="checkbox" name="person" value="西川" class="member">西川
      <input type="checkbox" name="person" value="山本" class="member">山本
      <input type="checkbox" name="person" value="横江" class="member">横江<br>
      <input type="checkbox"  id="check_all" class="s-all">全選択
    </div>
    <div class="bottom-content">
      <input type="button" value="抽選" id="lottery" class="button"> 
    </div>
  </form>
  <div class="result">
    <%# <img src="/assets/images/319217.jpg" class="b-image"> %>
    <h1 id="span" class="your-turn"></h1>
  </div>
  </body>
<footer>
</footer>
</html>